body{
    font-family: 'Roboto', sans-serif;
}

.logo-color{
    color: #76C27E;
}
.logo-color2{
    color: #363958;
}
.nav-item-spacing{
    margin-right: 30px;
}
.btn-color{
    background-color: #363958;
    border-color: #363958;
}
.backpack-card{
    border-radius: 10px;
    border: none;
}
.img-margin{
    padding: 10px;
}
.shop-card{
    background-color: #f1f1f1;
}
.shop-footer-card{
    border: 0;
    background-color: white;
}
.bag-card{
    border: 0;
}